#sellerDetails {
    .d-flex {
        margin: 1rem 0;
        padding-left: 0;
        flex-wrap: wrap;

        .toggler {
            transform: translateX(200%)
        }
        
        .sellerInfo {
            height: 100%;
            display: inline-flex;
            flex-grow: 1;

            .image {
                height: 200px;
                min-width: 200px;
                margin: 0.9rem 1rem 1rem 0;
                background-position: center!important;
                background-repeat: no-repeat!important;
                background-size: cover!important;
            }

            .flex-column {
                justify-content: flex-start;
            }
        }
    }
    
    h1 {
        padding-left: 0;
    }

    ngb-tabset {
        margin-top: 1rem;
    }

    .card-deck {
        .row {
            width: 100%;
            padding: 1rem 0;
            display: flex;
            justify-content: space-between;
        }
    }

    ngb-pagination {
        margin: auto;
    }
}