<section id="sellerDetails">
  <div class="container">
    <div class="d-flex">
      <div class="sellerInfo">
        <div class="image" [style.background]="'url(' + seller.imagePath +')'"></div>
        <div class="flex-column d-inline-flex">
          <h1 class="display-4">{{seller.name}}</h1>
          <h5>{{seller.category}}</h5>
        </div>
      </div>
      <button type="button" class="btn btn-primary addButt" (click)="newProduct()">
        Add product &nbsp;<i class="fa fa-plus-square-o fa-1x" aria-hidden="true"></i>
      </button>
    </div>
    <template></template>
  </div>
</section>
<ngb-tabset></ngb-tabset>
<!-- This is the template where the modal is being injected! -->
<template ngbModalContainer></template>
<!-- This is for the Toast message -->
<ng2-toasty></ng2-toasty>
