/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

body {
    background: $primary-color;
    color: #FAFAFA;
}

.addButt {
    height: 40px;
    align-self: center;
    background: $yellow-color;
    border-color: darken($yellow-color,  10%);
    &:hover {
        background: lighten($yellow-color, 10%);
        border-color: lighten($yellow-color,  10%);
    }
}

ul.nav-tabs.justify-content-start {
    border: none;
    li {
        .active {
            background: $secondary-color;
            color: white;
            border: solid 1px $secondary-color;
            border-top-left-radius: 0;
        }
        
        border: solid 1px $secondary-color;
        background: $primary-color;
        border-top-right-radius: 5px;
        border-top-left-radius: 0;
    }
}

.togglerLeft {
    transform: translate(-150%);
}

.togglerRight {
    transform: translate(150%);
}

.togglerTop {
    transform: translateY(400%);
}

.fadeIn {
    opacity: 0;
}

a {
    color: #FAFAFA;
    &:hover {
        color: white;
    }
}

.btn.btn-link {
    color: $yellow-color;
    &:hover {
        color: lighten($yellow-color, 10%);
    }
}