//Colors

$primary-color: #1F253D;
$secondary-color: #394264;
$accent-color: #13ad42;
$yellow-color: #e28104;
$red-color: #E64C65;
$red-accent-color: #CC324B;
$blue-color: #3468AF;
$blue-accent-color: #1A4E95;








