<div class="container">
    <h1 class="display-4 col-sm-10">Sellers</h1>
    <button type="button" class="btn btn-primary pull-right">
      Add seller &nbsp;<i class="fa fa-plus-square-o fa-1x" aria-hidden="true"></i>
    </button>
  <table class="table table-hover">
    <thead class="thead-inverse">
      <tr>
        <th>Seller name</th>
        <th>Category</th>
        <th>Last update</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark Otto</td>
        <td>Sporting Equipment</td>
        <td>13:37</td>
        <td><button class="btn btn-sm btn-secondary"><i class="fa fa-cog" aria-hidden="true"></i></button></td>
      </tr>
      <tr>
        <td>Jacob Thornton</td>
        <td>Jewelry</td>
        <td>19:03</td>
        <td>
          <button class="btn btn-sm btn-secondary"><i class="fa fa-cog" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td>Larry the Bird</td>
        <td>Exotic animals</td>
        <td>22:48</td>
        <td><button class="btn btn-sm btn-secondary"><i class="fa fa-cog" aria-hidden="true"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>