<section id="sellers">
  <div class="container">
    <div class="d-flex">
      <h1 class="display-4">Sellers</h1>
      <button type="button" class="addButt btn btn-primary pull-right" (click)="newSeller()">
          Add seller &nbsp;<i class="fa fa-plus-square-o fa-1x" aria-hidden="true"></i>
        </button>
    </div>
    <table class="table table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>Seller name</th>
          <th>Category</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let seller of Sellers">
          <td>{{seller.name}}</td>
          <td>{{seller.category}}</td>
          <td><button class="btn btn-sm btn-secondary" (click)="editSeller(seller)"><i class="fa fa-cog" aria-hidden="true"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<ng2-toasty></ng2-toasty>
<!-- This is for the Toast message -->
<template ngbModalContainer></template>
<!-- This is the template where the modal is being injected! -->