@import '../../variables.scss';

#sellers {
    .d-flex {
        margin: 1rem 0;
        flex-wrap: wrap;
        
        h1 {
            padding: 0;
            flex-grow: 1;
        }
    }

    .container {
        background: $secondary-color;
        border-radius: 5px;
    }
    
    table {
        margin-top: 1rem;    
        tr {
            td:first-child {
                button {
                    padding: 0;
                }
            }
            td:last-child {
                text-align: right;
            }
            &:last-child {
                &:hover {
                    background-color: $secondary-color;
                }
            }
        }
    }

    .modal-footer {
        button:last-child {
            margin-left: auto;
        }
    }
}