#sellers {
    .d-flex {
        margin: 1rem 0;
        flex-wrap: wrap;
        
        h1 {
            padding: 0;
            flex-grow: 1;
        }
    }
    
    table {
        margin-top: 1rem;
    }
    
    tr {
        td:first-child {
            button {
                padding: 0;
            }
        }
        td:last-child {
            text-align: right;
        }
    }

    .modal-footer {
        button:last-child {
            margin-left: auto;
        }
    }
}